@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');

h1 {
    margin-top: 2rem;
    padding: 1rem;
    border: 3px solid #000;
    text-align: center;
    color: aquamarine;
}

body {
    color: aquamarine;
    background: #000;
    font-family: "Intel One Mono";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

#vilgax {
    width: 500px;
    height: fit-content;
  display: flex;
    align-items: center;
    justify-content: center;
}

#vilgax img {
    width: 500px;
    height: 500px;
}

.creators {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: inherit;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: .3rem;
    animation: spin 10s linear infinite;
}

.creators a {
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: aquamarine;
   
}

h2 {
    text-align: center;
    
}

a:visited {
    color: rgb(123, 163, 123);
}


.creators li {
    list-style: none;
}


#info {
    text-align: center;
}

.circle {
  position: relative;
}

.item {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

/* top */
.item1 {
  left: 50%;
  top: 0%;
}

/* bottom right */
.item2 {
  left: 93%;
  top: 75%;
}

/* bottom left */
.item3 {
  left: 7%;
  top: 75%;
}


.item {
  position: absolute;
  
  transform:
    translate(-50%, -50%)
    rotate(var(--angle))
    translateY(calc(-1 * var(--radius)));
}

.item1 { --angle: 0deg; }
.item2 { --angle: 120deg; }
.item3 { --angle: 240deg; }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}